.home-container {
  background-color: #DDAE3A;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  color: #000000;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px; /* Ajuste o espaçamento conforme necessário */
}