.cadastro-container {
  background-color: #DDAE3A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cadastro-form {
  background-color: #fff;
  width: 300px;
  padding: 30px;
  border: 1px solid #E0E0E0;
  border-radius: 1px;
}

.form-group {
  margin-top: 10px;
}

.form-text {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 1px;
}

input.error {
  border-color: #ff0000;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #696969;
}