.new-collaborator-button {
    background-color: #fff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 150px;
}

.new-collaborator-button .icon {
    margin-right: 8px;
    color: #0f0f0f;
}

.new-collaborator-button .text {
    font-size: 12px;
    color: #0f0f0f;
}


.new-collaborator-button:hover {
    background-color: #999;
}

.new-collaborator-button .fas {
    margin-right: 6px;
}