.calendar {
    font-family: Arial, sans-serif;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.calendar h2 {
    text-align: center;
}

.calendar-controls {
    margin-bottom: 20px;
}

.calendar-container {
    border: 2px solid #000;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.rbc-calendar {
    height: 600px;
    background-color: white;
}

.rbc-event {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 2px 5px;
}

.rbc-today {
    background-color: #ffc26c;
}

.rbc-off-range {
    background-color: #ffe0b5;
}

.rbc-weekend {
    background-color: #ffe0b5;
}

.rbc-holiday {
    background-color: #ff9999;
}