.select-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.select {
    appearance: none;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 8px 40px 8px 16px;
    font-size: 16px;
    color: #495057;
    cursor: pointer;
    width: 260px;
    height: 45px;
}

.select::placeholder {
    color: #ced4da;
}

.select:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-arrow::before {
    content: '\25BC';
    font-size: 12px;
    color: #6c757d;
}

.select-options {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    padding: 5px 0;
    width: 300px;
    max-height: 250px;
    overflow-y: auto;
}

.select-options.active {
    display: block;
}

.select-option {
    padding: 10px;
    font-size: 16px;
    color: #495057;
    cursor: pointer;
}

.select-option:hover {
    background-color: #f8f9fa;
}