h2 {
  font-family: Zen Kaku Gothic Antique, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 37.5px;
  text-align: center;
}

.fs-14 {
  color: darkgrey;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  margin-right: 80px;
}

body {
  background-color: #DDAE3A;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.login-form {
  background-color: #fff;
  width: 300px;
  padding: 30px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 30px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

[type="submit"] {
  color: aliceblue;
  font-family: Zen Kaku Gothic Antique, sans-serif;
  margin-bottom: 20px;
}

.form-button {
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #696969;
}