.button {
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

.delete-button {
    background-color: red;
    color: white;
    font-size: 14px;
}

.button:hover {
    opacity: 0.8;
}