.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    max-width: 100%;
}

.collaborator-item {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    text-align: center;
}

.collaborator-item:hover {
    opacity: 0.8;
}