h2 {
  font-family: Zen Kaku Gothic Antique, sans-serif;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 37.5px;
  text-align: center;
}

.fs-14 {
  color: darkgrey;
  font-size: 14px;
  font-weight: 400;
}

ul {
  text-align: right;
  margin-right: 80px;
}

.cadastro-container {
  background-color: #DDAE3A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.cadastro-form {
  background-color: #fff;
  width: 300px;
  padding: 30px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.form-group {
  margin-top: 10px;
}

.form-text {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input.error {
  border-color: #ff0000;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
}

.form-button {
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #696969;
}