.navbar {
    position: fixed;
    width: 100%;
    background-color: #DDAE3A;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
  }

  .navbar-left {
    display: block;
    margin-left: 50px;
  }
  
  .navbar-left h1 {
    text-transform: uppercase;
    margin-left: 50px;
    margin: 0;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right button {
    padding: 10px 20px;
    margin-right: 50px;
    background-color: #DDAE3A;
    color: #212121;
    border: 2px solid #212121;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .navbar-right button:hover {
    background-color: #C49C0A;
  }